<ion-view title="Arts" id="page13" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <ion-list>
           
          <ion-item class="item-thumbnail-left">
                <img src="img/NyMcaIKYSxeoE4Poh2zh_Railroad.jpg">
                <h2>First Fridays @ Railroad Square</h2>
                <p style="white-space:normal;">The first Friday of each month. Follow Indianhead to Railroad Square trail to bike here.</p>
            </ion-item>
        </ion-list>
        <iframe width="100%" height="800px" src="http://tlcgis.maps.arcgis.com/apps/MapJournal/index.html?appid=e9aa5b30c9ed4222b936d450c8e3ac63&section=2" frameborder="0" scrolling="no"></iframe>
    </ion-content>
</ion-view>