<ion-view title="Create an Account" id="page6">
    <ion-content padding="true" style="background: url(img/mXiJzxXkRvGbtfkMugsj_IMG_6080.JPG) no-repeat center;background-size:cover;" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button id="createAnAccount-button5" class="button button-stable  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>