<ion-view title="Concerts and Festivals" id="page3" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <ion-list>
           <ion-item class="item-thumbnail-left" href="#" onclick="window.open('https://ticcheck.com/index-2.cfm?CDECJDE=A1AA9EE1-5056-A84B-5109158790A3F9FB&mct=C53EA384-9851-D7A8-6D5FE79B24CFC11F', '_system', 'location=yes'); return false;">
                <img src="img/pTutCHUMTpmTrsKEM179_Cascades.jpg">
                <h2>Peter Frampton Concert at Cascades Park</h2>
                
                <p style="white-space:normal;">May 28th</p>
                <button id="login-button3" class="button button-stable  button-block" ng-click="submit(login)">Buy Tickets</button>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/foodtruckthursday.jpg">
                <h2>Food Truck Thursdays</h2>
                <p>Every Thursday from 6-9 PM at Lake Ella</p>
            </ion-item>
           <ion-item class="item-thumbnail-left" href="#" onclick="window.open('https://www.talgov.com/uploads/public/documents/starmetro/pdf/1404/Y.pdf', '_system', 'location=yes'); return false;">
              <img src="img/rythym.png">
              <h2>Ride the Rythym bus for free on weekend nights for these events! Click to find your pickup location.</h2>
              
        </ion-list>
    </ion-content>
</ion-view>