<ion-view title="Concerts and Festivals" id="page3" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/pTutCHUMTpmTrsKEM179_Cascades.jpg">
                <h2>Peter Frampton Concert at Cascades Park</h2>
                <p style="white-space:normal;">May 28th</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/foodtruckthursday.jpg">
                <h2>Food Truck Thursdays</h2>
                <p>Every Thursday from 6-9 PM at Lake Ella</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>