<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
        <ion-header-bar class="bar-stable">
            <div class="title">Find Your Adventure</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header" style="background: url(img/dQLVKce1ROabhhDwYUyX_IMG_6143.JPG) no-repeat center;">
            <a ui-sref="findYourAdventure.parksForHikingWalking" menu-close="" id="findYourAdventure-button9" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Hiking</a>
            <a ui-sref="findYourAdventure.mountainBikeTrails" menu-close="" id="findYourAdventure-button10" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Mountain Biking</a>
            <a ui-sref="findYourAdventure.events" menu-close="" id="findYourAdventure-button11" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Concerts &amp; Festivals</a>
            <a ui-sref="findYourAdventure.arts" menu-close="" id="findYourAdventure-button12" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Arts</a>
            <a ui-sref="findYourAdventure.volunteering" menu-close="" id="findYourAdventure-button13" class="button button-balanced  button-block">Volunteering</a>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>