  <ion-view title="Find Your Adventure" id="home" style="background-color:#16A550;">
            <ion-content padding="false" class="side-menu-left has-header" style="background: url(img/dQLVKce1ROabhhDwYUyX_IMG_6143.JPG) no-repeat center;">

        <ion-list>
           
       
            <a ui-sref="findYourAdventure.parksForHikingWalking" menu-close="" id="findYourAdventure-button9" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Hiking</a>
            <a ui-sref="findYourAdventure.mountainBikeTrails" menu-close="" id="findYourAdventure-button10" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Mountain Biking</a>
            <a ui-sref="findYourAdventure.events" menu-close="" id="findYourAdventure-button11" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Concerts &amp; Festivals</a>
            <a ui-sref="findYourAdventure.arts" menu-close="" id="findYourAdventure-button12" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Arts</a>
            <a ui-sref="findYourAdventure.volunteering" menu-close="" id="findYourAdventure-button13" class="button button-balanced  button-block">Volunteering</a>
        </ion-content>
        
    </ion-view>