<ion-view title="Lafayette Heritage Trails" id="page9" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/53y3RHuNSZCOLrTpQL0i_Lafayette.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Weather Today:</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Transit Options</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>