<ion-view title="Lake Jackson Indian Mounds" id="page11" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/9x9dF28JRLGuPNpZ0Fxi_IMPark2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="cascadesPark-markdown1" style="color:#000000;">
            <p>Indian Mounds State Park, located on Lake Jackson is a historic ground that is available to hike or just explore.</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Weather Today:</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Follow Huntington to Lake Elberta bicycle route below for bike transit.</span><textarea placeholder=""> </textarea>
            </label>
             <iframe width="100%" height="800px" src="http://tlcgis.maps.arcgis.com/apps/MapJournal/index.html?appid=e9aa5b30c9ed4222b936d450c8e3ac63&section=2" frameborder="0" scrolling="no"></iframe>
            
        </form>
    </ion-content>
</ion-view>