<ion-view title="Maclay Gardens" id="page10" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/kXb9AwplQrCoG64jmnFC_Maclay1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
          <p>Maclay Gardens is part of Alfred B. Maclay Gardens State Park, which features a beautiful garden which overlooks Lake Overstreet, which can also be utilized for recreation. This park includes the historic garden for explorations, as well as running and bicycling trails as well. </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Weather Today:</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Follow the All Saints to Maclay Gardens bicycle route. </span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <iframe width="100%" height="800px" src="http://tlcgis.maps.arcgis.com/apps/MapJournal/index.html?appid=e9aa5b30c9ed4222b936d450c8e3ac63&section=2" frameborder="0" scrolling="no"></iframe>
    </ion-content>
</ion-view>