<ion-view title="Munson Hills" id="page8" style="background-color:#16A550;">
    <ion-content padding="true" style="background: url(img/noFtxbMMT0ORxlaW4vOM_Greenway.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Weather Today:</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Follow the St. Marks Trail(blue line) 1 mile South to find this.</span><textarea placeholder=""> </textarea>
            </label>
        </form>
         <img src="img/stmarks.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </ion-content>
</ion-view>