<ion-view title="Micosuckee Greenway" id="page8" style="background-color:#16A550;">
    <ion-content padding="true" style="background: url(img/noFtxbMMT0ORxlaW4vOM_Greenway.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Weather Today:</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Transit Options</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>