<ion-view title="Parks for Hiking &amp; Walking" id="page1" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="findYourAdventure.cascadesPark">Cascades Park</ion-item>
            <ion-item ui-sref="findYourAdventure.maclayGardens">Maclay Gardens State Park</ion-item>
            <ion-item ui-sref="findYourAdventure.lakeJacksonIndianMounds">Lake Jackson Indian Mounds State Park</ion-item>
        </ion-list>
    </ion-content>
</ion-view>