<ion-view title="Volunteering" id="page12" style="background-color:#16A550;">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.lichgateonhighroad.org/?page_id=268', '_system', 'location=yes'); return false;">
                <img src="img/clhlsgEFQ0uxk0fwxauV_Lichgate1.jpg">
                <h2>Volunteering at Lichgate</h2>
                <p>May 3rd, click to register</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>